<h1>Heros!</h1>
<form action="/heros" method="POST">
	<input type="text" placeholder="Name" name="name"/>
	<input type="text" placeholder="Movie" name="movie"/>
	<input type="text" placeholder="Super Power" name="power"/>
	<input type="text" placeholder="Height" name="height"/>
	<input type="submit" value="Submit!"/>
</form>
<table border="1">
	{{#each herosArray}}
	<tr data-id="{{this.id}}">
		<td>
			<input type="text" class="name" value="{{ this.name }}">
		</td>
		<td>
			<input type="text" class="movie" value="{{ this.movie }}">
		</td>
		<td>
			<input type="text" class="power" value="{{ this.power }}">
		</td>
		<td>
			<input type="text" class="height" value="{{ this.height }}">
		</td>
		<td>
			<button type="button" name="button" class="edit-hero">SAVE</button>
		</td>
		<td>
			<button type="button" name="button" class="delete-hero">DELETE</button>
		</td>
	</tr>
	{{/each}}
</table>
