<h1>Villains, muahahahaha!</h1>

<form action="/villains" method="POST">
	<input type="text" placeholder="name" name="name"/>
	<input type="text" placeholder="movie" name="movie"/>
	<input type="text" placeholder="power" name="power"/>
	<input type="text" placeholder="height" name="height"/>

	<input type="submit" value="submit"/>

</form>

<table border='1'>
{{#each villainsArray}}
<tr data-id="{{this.id}}">
	<td>
	<input type="text" value="{{ this.name }}" class="name"/>

	</td>

	<td>
	<input type="text" value="{{ this.movie }}" class="movie"/>

	</td>
	<td>

	<input type="text" value="{{ this.power }}" class="power"/>

	</td>
	<td>
	<input type="text" value="{{ this.height }}" class="height"/>
	</td>
	<td class="edit">>
	<button>EDIT</button>
	</td>
	<td class="delete">
	<button>DELETE</button>
	</td>
	</tr>
	{{/each}}
</table>

<br>

<h1>Heros, dun dun dun dunnnn!</h1>

<form action="/heros" method="POST">
	<input type="text" placeholder="name" name="name"/>
	<input type="text" placeholder="movie" name="movie"/>
	<input type="text" placeholder="power" name="power"/>
	<input type="text" placeholder="height" name="height"/>

	<input type="submit" value="submit"/>

</form>

<table border='1'>
{{#each herosArray}}
<tr data-id="{{this.id}}">
	<td>
	<input type="text" value="{{ this.name }}" class="name"/>

	</td>

	<td>
	<input type="text" value="{{ this.movie }}" class="movie"/>

	</td>
	<td>

	<input type="text" value="{{ this.power }}" class="power"/>

	</td>
	<td>
	<input type="text" value="{{ this.height }}" class="height"/>
	</td>
	<td class="editTwo">>
	<button>EDIT</button>
	</td>
	<td class="deleteTwo">
	<button>DELETE</button>
	</td>
	</tr>
	{{/each}}
</table>