<div id="header">
{{#if villains}}
	<h1>Villains!</h1>
{{else}}
	<h1>Heroes!</h1>
{{/if}}
</div>

<div id="changeButton">
	{{#if villains}}
		<button id="buttonHeroes" class="button">Heroes</button>
	{{else}}
		<button id="buttonVillains" class="button">Villains</button>
	{{/if}}
</div>

<div id="dataEntry">
{{#if villains}}
	<form action="/villains" method="POST">
{{else}}
	<form action="/heroes" method="POST">
{{/if}}
	<input type="text" placeholder="Name" name="name"/>
	<input type="text" placeholder="Movie" name="movie"/>
	<input type="text" placeholder="Super Power" name="power"/>
	<input type="text" placeholder="Height" name="height"/>
	<input type="submit" value="Submit!" class="button"/>
</form>
</div>

<table>
	<tr>
		<th>Name</th>
		<th>Movie</th>
		<th>Power</th>
		<th>Height</th>
	</tr>
	{{#each array}}
	<tr data-id = {{this.id}}>
		<td>
			<input type="text" value = "{{this.name}}" class="name" />
		</td>
		<td>
			<input type="text" value = "{{this.movie}}" class="movie" />
		</td>
		<td>
			<input type="text" value = "{{this.power}}" class="power" />
		</td>
		<td>
			<input type="text" value = "{{this.height}}" class="height" />
		</td>
		<td>
			<button class="edit button">
				SAVE
			</button>
		</td>
		<td>
			<button class="delete button">
				DELETE
			</button>
		</td>
	</tr>
	{{/each}}
</table>
